.table {
  grid-column: 1/-1;
  padding: 0 2rem;
  box-shadow: 0.1rem 0.5rem 1rem black;
  background-color: #f5f5f5;
  width: 90vw;
  align-self: center;
  justify-self: center;
  font-size: 1.2rem;
  border-radius: 2rem;

  @media screen and (max-width: 971px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 890px) {
    font-size: 0.8rem;
    //  width: 95vw;
    padding: 0;
  }
  @media screen and (max-width: 440px) {
    // width: 100vw;
    font-size: 0.5rem;
  }
  &__heading {
    padding: 1rem 2rem;
    background-color: #cccccc;
    border-radius: 1px;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    color: #333333;
    @media screen and (max-width: 890px) {
      padding: 0.5rem;
    }
    @media screen and (max-width: 560px) {
      padding: 0.2rem;
      font-size: 0.7rem;
    }
    @media screen and (max-width: 440px) {
      padding: 0.1rem;
    }
    position: sticky;
    position: -webkit-sticky;
    z-index: 10;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  &__row--data {
    color: #333333;
    font-weight: bold;

    &:nth-child(odd) {
      background: white;
    }
    &:hover {
      background-color: rgb(245, 94, 24);
      color: white;
    }
  }
  &__data {
    border-radius: 2px;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    @media screen and (max-width: 560px) {
      padding: 0.1rem 0.5rem;
    }
    @media screen and (max-width: 440px) {
      padding: 0.05rem 0.1rem;
    }
  }
}
